.vscode/
.DS_Store
.python-version
*.pyc
.idea/
.env
__pycache__

docs/_build
docs/source/temp

data/private_examples
data/sim_outputs
data/private_examples
data/gogs_buffered

src/
spice_ev/
*.bak
/tests/test_output_files/
